<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="${applicationName}"   <!-- تغيير من io.flutter.app.FlutterApplication -->
        android:label="Your App Name"
        android:icon="@mipmap/ic_launcher">
        
        <!-- أضف هذا الوسم داخل وسم <application> إذا غير موجود -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />  <!-- هذه القيمة ضرورية -->
        
        <!-- باقي محتوى الملف -->
    </application>
</manifest>
```[citation:1][citation:3]

 appbundle --release
